body {

	font-family: 'Poppins', sans-serif;
	background-color: pink;
	overflow:hidden;

}

#instructionModal {


	position:absolute;
	top:0;
	left:0;
	z-index: 399;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display:flex;
	justify-content: center;
	align-items: center;
	/*display:none;*/

}

.playerid {

	display:inline-block;
}

#playerSelect {


	height: 30px;
	width:100%;
	margin: auto;
	margin-top: 25px;
	text-align:center;

}

#formName, #formNamep2 {

	height: 25px;
	width: 150px;
	font-size: 20px;
}
#formButton, #formButtonp2 {

	height: 25px;
	width: 45px;

}


#player1 {

	margin-left:auto;
	margin-right:0;
}

#leaderboardModal {

	position:absolute;
	top:0;
	left:0;
	z-index: 399;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	display:flex;
	justify-content: center;
	align-items: center;
	display:none;

}

#leaderboard {

	z-index: 400;
	height: 600px;
	width: 60%;
	background-color: rgba(255, 255, 255, 1);
	margin:auto;
	border: black solid 3px;

}
#instructions {

	
	z-index: 400;
	height: 600px;
	width: 60%;
	background-color: rgba(255, 192, 203, 1);
	margin:auto;
	border: black solid 3px;
	border-radius: 10%;
	

}

#instructions h2 {

	margin-top: 30px;
}
#instructions h2, h3 {

	font-size: 45px;
	text-align:center;
}

#instructions h3 {

	margin-top: 20px;

}

#instructions p, ul {

	font-size: 30px;
	text-align: center;
	margin: 20px 40px 0px;

}

#closeButton {

	height:20px;
	width: 75px;
	border: black solid 1px;
	border-radius:5px;
	margin:auto;
	margin-top: 50px;
	text-align: center;
	background-color: #E75480;

}

.key {

	color: green;
}

#closeText {

	font-size: 16px;
	font-weight: bold;
}

nav {

	height:50px;
	width: 100vw;
	text-align: center;
	background-color: pink;
}
nav h1 {

	font-size: 40px;
}

#outsideLayer {

	margin:auto;
	height: 100vh;
	width: 100vw;
	background-color: pink;
}

#navBar {

	height: 40px;
	width:100%;
	margin-top: 13px;

}

#buttons {

	height: 35px;
	width: 45%;
	transform: translateY(-19px);
	margin-left:auto;
	margin-right: 0px;
	display:inline-block;
}

#buttons p {

	margin-top: 5px;

} 

 #displayWinner {

	height: 30px;
	width: 50%;
	display: inline-block;
	margin-left: 0px;
	font-size: 18px;
	overflow: hidden;


 }

 #displayWinner p {

	font-size: 30px;
 }
#leaderboardButton {

	display:none;
}
#instructionButton  {

	border: black solid 1px;
	border-radius: 6px;
	height: 30px;
	width: 45%;
	display: inline-block;

}

.scores {

	height:50px;
	width:100%;
	/*background-color:green;*/
	display:block;
}


.scores div {

	margin:auto;
	margin-top:13px;
	font-size: 35px;
	height:73%;
	width:46%;
	display:inline-block;

}

#leftScoreBackground {

	background-color: rgb(161, 0, 0);
	margin-top: 8px;
}

#rightScoreBackground {

	background-color: rgb(54, 174, 221);
	margin-top:8px;
}



.scoreCounter {

	display:inline;
	font-size: 30px;

}

#leftScore {

	font-size: 30px;
	text-decoration: bold;
}

#rightScore {
	font-size: 30px;
	text-decoration: bold;

}

#middleBorder {

	margin:auto;
	height:750px;
	width: 80%;
	border: black solid 3px;
	background: linear-gradient(#EEEEEE, #DDDDDD);
	text-align:center;	
}

#middleLeftDiv {

	height: 150px;
	width:150px;
	background-image: url("../images/cookie.png");
	background-repeat: no-repeat;
	margin-right: 100px;
	margin-top: 40px;
	display: inline-block;

}

#timer {

	height:40px;
	width:60px;
	border: dashed 3px;
	border-radius: 14px;
	font-size: 24px;
	margin-top: 70px;	
	vertical-align: top;
	display:inline-block;
}

#start {

	height:40px;
	width:60px;
	font-size: 20px;
	margin-top: 70px;	
	vertical-align: top;
	display:inline-block;
}

#timer p {

	transform: translateY(10px);
}


#middleRightDiv {

	height: 150px;
	width:150px;

	background-image: url("../images/cookie.png");
	background-repeat: no-repeat;
	margin-left: 100px;
	margin-top: 40px;
	display:inline-block;

}

#mugs {


	z-index:1;
	width:100%;
	height:150px;
	display:inline-block;
	margin:auto;
	margin-left: 4px;
	margin-top: 30px;

}

#middleLeftMug {

	position: relative;
	height: 250px;
	width: 224px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 40px;
	display: inline-block;
}

#topRed {

	position:absolute;
	z-index: 1;
	height:29px;
	width:100%;
	background-image: url("../images/topredmug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}

#bottomRed {

	position:absolute;
	z-index: 3;
	top:21px;
	height: 210px;
	width:100%;
	background-image: url("../images/bottomredmug.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


#mugSeparator {


	height:200px;
	width:250px;
	display:inline-block;

}

#middleRightMug {


	position:relative;
	height: 250px;
	width: 224px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 40px;
	margin-right:28px;
	display: inline-block;
}

#topBlue {

	position:absolute;
	z-index: 1;
	height:29px;
	width:100%;
	background-image: url("../images/topbluemug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}

#bottomBlue {

	position:absolute;
	z-index: 3;
	top:21px;
	height: 210px;
	width:100%;
	background-image: url("../images/bottombluemug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}



.leftDip {


	position:relative;
	z-index:2;
	height: 300px;
	width:150px;
	margin-right: 150px;
	transform: translateY(200px);
	display: inline-block;


}

.rightDip {

	position:relative;
	z-index:2;
	height: 300px;
	width:150px;
	margin-left: 150px;
	transform: translateY(200px);
	display: inline-block;


}
#desk {

	position:relative;
	z-index:1;
	margin:auto;
	height:250px;
	width:75%;
	background-image: url("../images/desk.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transform:translateY(-99px);

}

@media (max-width: 980px) {

	body {

		width: 980px;
	}

	#middleBorder {

		width: 980px;
	}

	#mugs {

		width:980px;
	}

	#mugSeparator {

		width:20%;
	}

}