body {

	font-family: 'Poppins', sans-serif;

}

nav {

	height:50px;
	width: 100vw;
	text-align: center;
}

#outsideLayer {

	margin:auto;
	height: 100vw;
	width: 100vw;
	background-color: pink;
}

#scores {

	height:50px;
	width:100%;
	background-color:green;
	opacity:0.6;
	display:block;
}

#scores div {

	margin:auto;
	margin-top:13px;
	font-size: 16px;
	height:100%;
	width:46%;
	background-color: yellow;
	display:inline-block;
}

.scoreCounter {

	display:inline;
}

#middleBorder {

	margin:auto;
	height:750px;
	width: 950px;
	background-color: orange;
	text-align:center;	
}

#middleLeftDiv {

	height: 300px;
	width:150px;
	background-color: black;
	margin-right: 150px;
	
	margin-top: 40px;
	display: inline-block;

}

#middleRightDiv {

	height: 300px;
	width:150px;
	background-color: black;
	margin-left: 150px;
	
	margin-top: 40px;
	display:inline-block;

}

#mugs {

	width:100%;
	height:150px;
	/*background-color: grey;*/
	display:inline-block;
	margin:auto;
	margin-top: 50px;

}

#middleLeftMug {

	height: 200px;
	width:220px;
	background-color: black;
	margin-right: 220px;
	margin-top: 40px;
	display: inline-block;
}

#middleRightMug {

	height: 200px;
	width:220px;
	background-color: black;
	/*margin-right: 150px;*/
	margin-top: 40px;
	display: inline-block;
}

.leftDip {
	
	height: 300px;
	width:150px;
	background-color: black;
	margin-right: 150px;
	margin-bottom: -250px;
	display: inline-block;


}

.rightDip {


	height: 300px;
	width:150px;
	background-color: black;
	margin-left: 150px;
	margin-bottom: -250px;
	display: inline-block;


}