body {

	font-family: 'Poppins', sans-serif;

}

nav {

	height:50px;
	width: 100vw;
	text-align: center;
}
nav h1 {

	font-size: 30px;
}

#outsideLayer {

	margin:auto;
	height: 100vw;
	width: 100vw;
	background-color: pink;
}

#scores {

	height:50px;
	width:100%;
	background-color:green;
	opacity:0.6;
	display:block;
}

#scores div {

	margin:auto;
	margin-top:13px;
	font-size: 16px;
	height:100%;
	width:46%;
	background-color: yellow;
	display:inline-block;

}

.scoreCounter {

	display:inline;
	font-size: 30px;
}

.player { 

	text-decoration: underline;
 }
#leftScore {

	font-size: 30px;
	text-decoration: bold;
}

#rightScore {
	font-size: 30px;
	text-decoration: bold;

}

#middleBorder {

	margin:auto;
	height:750px;
	width: 80%;
	border: black solid 3px;
	background: linear-gradient(#EEEEEE, #DDDDDD);
	text-align:center;	
}

#middleLeftDiv {

	height: 150px;
	width:150px;
	background-image: url("../images/cookie.png");
	background-repeat: no-repeat;

	/*background-color: black;*/
	margin-right: 100px;
	
	margin-top: 40px;
	display: inline-block;

}

#timer {

	height:40px;
	width:60px;
	border: dashed 3px;
	border-radius: 14px;
	font-size: 24px;
	margin-top: 70px;	
	vertical-align: top;
	display:inline-block;
}

#start {

	height:40px;
	width:60px;
	font-size: 20px;
	margin-top: 70px;	
	vertical-align: top;
	display:inline-block;
}

#timer p {

	transform: translateY(10px);
}


#middleRightDiv {

	height: 150px;
	width:150px;

	background-image: url("../images/cookie.png");
	background-repeat: no-repeat;
	/*background-color: black;*/

	margin-left: 100px;
	margin-top: 40px;
	display:inline-block;

}

#mugs {


	z-index:1;
	width:100%;
	height:150px;
	display:inline-block;
	margin:auto;
	margin-left: 4px;
	margin-top: 30px;

}

#middleLeftMug {

	position: relative;
	height: 250px;
	width: 224px;
	/*background-color: black;*/
	/*background-image: url("../images/mug-red.png");*/
	background-size: 100%;
	background-repeat: no-repeat;
	/*margin-right: 220px;*/
	margin-top: 40px;
	display: inline-block;
}

#topRed {

	position:absolute;
	z-index: 1;
	height:29px;
	width:100%;
	background-image: url("../images/topredmug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}

#bottomRed {

	position:absolute;
	z-index: 3;
	top:21px;
	height: 210px;
	width:100%;
	background-image: url("../images/bottomredmug.png");
	background-repeat: no-repeat;
	background-size: 100%;
}


#mugSeparator {


	height:200px;
	width:250px;
	display:inline-block;

}

#middleRightMug {


	position:relative;
	height: 250px;
	width: 224px;
	/*background-color: black;*/
	/*background-image: url("../images/mug-blue.png");*/
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 40px;
	margin-right:28px;
	display: inline-block;
}

#topBlue {

	position:absolute;
	z-index: 1;
	height:29px;
	width:100%;
	background-image: url("../images/topbluemug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}

#bottomBlue {

	position:absolute;
	z-index: 3;
	top:21px;
	height: 210px;
	width:100%;
	background-image: url("../images/bottombluemug.png");
	background-repeat: no-repeat;
	background-size: 100%;


}



.leftDip {


	position:relative;
	z-index:2;
	height: 300px;
	width:150px;
	/*background-color: black;*/
	margin-right: 150px;
	transform: translateY(200px);
	display: inline-block;


}

.rightDip {

	position:relative;
	z-index:2;
	height: 300px;
	width:150px;
	/*background-color: black;*/
	margin-left: 150px;
	transform: translateY(200px);
	/*transform: translate(20px , 340px);*/
	display: inline-block;


}
#desk {

	position:relative;
	z-index:1;
	margin:auto;
	height:250px;
	width:75%;
	background-image: url("../images/desk.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transform:translateY(-99px);

}
